.grid-container {
  display: flex;
}
.day {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  margin: 10px;
}

.filter {
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

